/postaviliprofesore/mainapp/__pycache__/views.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/views.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/views.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/urls.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/views.cpython-38.pyc
/postaviliprofesore/db.sqlite3
/postaviliprofesore/db.sqlite3
/pyvenv.cfg
/share/
/lib64
/lib/
/bin/
/postaviliprofesore/mainapp/__pycache__/admin.cpython-38.pyc
/.gitignore
/postaviliprofesore/mainapp/__pycache__/admin.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/models.cpython-38.pyc
/postaviliprofesore/__pycache__/ucginfimport.cpython-38.pyc
/postaviliprofesore/__pycache__/ucginfimport.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/admin.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/models.cpython-38.pyc
/postaviliprofesore/mainapp/__pycache__/serializers.cpython-38.pyc
/postaviliprofesore/mainapp/migrations/__pycache__/0001_initial.cpython-38.pyc
/postaviliprofesore/mainapp/migrations/__pycache__/__init__.cpython-38.pyc
/postaviliprofesore/postaviliprofesore/__pycache__/settings.cpython-38.pyc
