{% extends 'mainapp/base.html' %}

<head>{% load static %}</head>

{% block content %}

<script src="{% static 'app.js' %}"></script>


  <form id="form" method="GET" onsubmit="submitalt();">
      <script>makeForm()</script>
    <button id="result-submit" type="submit" class="btn btn-primary float-right">Submit</button>
  </form>

  <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button onclick="makeForm()" class="btn btn-outline-success">+</button>
          <button onclick="delForm()" class="btn btn-outline-danger">x</button>
      </div>
  </div>


<table class="table table-sm table-hover" id="result-table" style="display: none;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Subject Tag</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody id="result-body">

  </tbody>
</table>

{% endblock content %}
