{% extends 'mainapp/base.html' %}

<head>{% load static %}</head>

{% block content %}

<div class="mx-auto text-center">
    <h1 class="mx-auto my-0 text-uppercase">Postavi li, profesore?</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">Najlakši način da provjeriš da li je postavljen novi link na sajtu UCG-a, bio to link za predavanje ili samo neka novost.</h2>
    <a class="btn btn-outline-success js-scroll-trigger" href="{% url 'napraviSvoj' %}">Započni</a>
</div>

{% endblock content %}
