{% extends 'mainapp/base.html' %}

<head>{% load static %}</head>

{% block content %}
<script src="{% static 'app.js' %}"></script>


  <form id="form" method="GET" onsubmit="submitalt();">
      <script>makeForm()</script>
    <button id="result-submit" type="submit" class="btn btn-primary float-right">Submit</button>
  </form>

  <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button onclick="makeForm()" class="btn btn-outline-success">+</button>
          <button onclick="delForm()" class="btn btn-outline-danger">x</button>
      </div>
  </div>
{% endblock content %}
