{% extends 'mainapp/base.html' %}

{% block content %}

{% load static %}

<style>
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 7rem 0;
    }
</style>

<div id="spinner" class="lds-roller whiteout" style="position: none; left: 50%; top: 45%; position: fixed; display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
<div id="overlay" class="spinner_overlay" style="display: none;"></div>


<div class='container-fluid'>
<div id="search-wrapper">
    <div class="table-responsive-md">
    <table class="table table-sm table-hover" id="search-table" style="background-color: #d8edc5;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Smjer</th>
          <th scope="col">Semestar</th>
        </tr>
      </thead>
      <tbody id="search-body">
          {% for key, value in test.items %}
          <tr role="row">
            <td>{{ key }}</td>
            <td>
                <div class="btn-group mr-2 d-inline-flex p-2 text-white col" role="group">
                {% for x, y in value.items %}
                <a href="{{ y }}" type="button" class="btn btn-secondary">{{ x }}</a>
                {% endfor %}
              </div>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
  $(function(){
    $('a').click(function(){
      $('#spinner').show();
      $('#overlay').show();
    });
  });
});
</script>

{% endblock content %}
