{% extends 'mainapp/base.html' %}

{% block content %}

<style>
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 7rem 0;
    }
</style>

<div class='container-fluid'>

{% for key, value in test.items %}
  <div class="row">
    <div class='d-inline-flex p-2 text-white col-10'> <h3>{{ key }}</h3></div>
    <div class="btn-group mr-2 d-inline-flex p-2 text-white col" role="group">
    {% for x, y in value.items %}
    <a href="{{ y }}" type="button" class="btn btn-secondary">{{ x }}</a>
    {% endfor %}
  </div>
</div>

{% endfor %}
</div>

{% endblock content %}
