{% extends 'mainapp/base.html' %}

{% block content %}

<style>
    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 20rem 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 85%, #1c1c1c 100%), url("../static/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
    }
</style>

<div class='container-fluid'>

{% for key, value in test.items %}
    <div class='d-inline-flex p-2 text-white'> <h3>{{ key }}</h3></div>
    <div class="btn-group mr-2 d-inline-flex p-2 text-white" role="group">
    {% for x, y in value.items %}
    <a href="{{ y }}" type="button" class="btn btn-secondary">{{ x }}</a>
    {% endfor %}
  </div>

{% endfor %}
</div>

{% endblock content %}
